/* Default CSS Configs */
:root {
    --black: #000;
    --white: #fff;
    --boulder: #777;
    --bg: #fff9f6;
    --bg-button: #ff6a5f;
    --bg-hover: #fac1aa;
    --button-hover: #ff5a4f;
    --bf-icon-color: #ffe6e6;

    --logo-color: #eef0ef;
    --logo-color-2: #c94161;
    --logo-color-3: #4481a3;
    --logo-color-4: #7c7c7c;
}

* {
    box-sizing: border-box;
    transition: all ease-in-out 1s;
    font-family: "Roboto Serif", serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
i,
b {
    font-family: inherit;
}

body {
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.6;
    background-color: var(--bg);
}

.css-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: currentColor;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg);
    border-radius: 6px;
    border: 3px solid transparent;
}

::-webkit-scrollbar-track {
    background-color: var(--bg);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-hover);
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo-no-bg {
    height: 50px;
}

.nav-list {
    display: flex;
    list-style: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
    }

    header {
        padding: 8px 16px;
    }
}

.nav-item {
    padding: 36px 0 4px 0;
    margin: 0 0.5rem;
    background: linear-gradient(to bottom, transparent, transparent);
    will-change: background;
    transition: background 1s ease-in-out;
}

.nav-item:hover {
    background: linear-gradient(to bottom, var(--bg-hover), var(--bg));
    background-size: 100% 100%;
}


.nav-item a {
    color: var(--black);
    text-decoration: none;
    margin: 0.2em;
}

.buy-now {
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--black);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.buy-now:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* PRODUCTS */

.products-container {
    background-image: url('../img/star-ico.png');
    background-position: right top;
    justify-content: space-between;
    background-repeat: no-repeat;
    padding: 40px 80px;
    position: relative;
    display: flex;
    z-index: 0;
    background-size: 20%;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
    max-width: 992px;
}

.product-details {
    max-width: 100%;
}

.product-details-header h1 {
    font-size: 48px;
    line-height: 1.2;
    margin: 0;
}

.product-details-desc p {
    font-size: 17.6px;
    margin: 20px 0;
    color: var(--boulder);
    line-height: 2;
}

@media screen and (max-width: 576px) {
    .products-container {
        padding: 40px;
    }

    .products-container::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url('../img/star-ico.png');
        background-repeat: no-repeat;
        background-position: left 25%;
        background-size: 50%;
        z-index: 0;
        opacity: 0.2;
    }
}

@media screen and (max-width: 380px) {
    .products-container {
        padding: 20px;
    }
}

.product-details-desc>div {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.product-details-desc>div p {
    margin-top: -16px;
}

.product-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
}

.product-img img {
    height: 100%;
    width: auto;
}

@media (max-width: 350px) {
    .product-details-desc>div {
        display: flex;
        flex-direction: column-reverse;
    }

    .product-img {
        margin: 0 auto 20px;
    }
}

.product-details-desc div button {
    padding: 10px 20px;
    font-size: 1.2rem;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 8px;
    height: fit-content;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    z-index: 1;
    text-align: center;
}

.see-price {
    color: var(--black);
    margin: 64px 0 32px 0;
    background-color: var(--bg-hover);
}

.buy-it-now {
    color: var(--white);
    margin: 32px 0 64px 0;
    background-color: var(--bg-button);
}

.buy-it-now:hover {
    background-color: var(--button-hover);
}

.next-icon {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-width='2' d='M2 12h20m-9-9l9 9l-9 9'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}

.price-icon {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-width='1.5'%3E%3Cpath d='M4.728 16.137c-1.545-1.546-2.318-2.318-2.605-3.321c-.288-1.003-.042-2.068.45-4.197l.283-1.228c.413-1.792.62-2.688 1.233-3.302c.614-.613 1.51-.82 3.302-1.233l1.228-.284c2.13-.491 3.194-.737 4.197-.45c1.003.288 1.775 1.061 3.32 2.606l1.83 1.83C20.657 9.248 22 10.592 22 12.262c0 1.671-1.344 3.015-4.033 5.704c-2.69 2.69-4.034 4.034-5.705 4.034c-1.67 0-3.015-1.344-5.704-4.033z' opacity='0.5'/%3E%3Cpath stroke-linecap='round' d='M15.39 15.39c.585-.587.664-1.457.176-1.946c-.488-.488-1.359-.409-1.945.177c-.585.586-1.456.665-1.944.177c-.488-.488-.409-1.359.177-1.944m3.535 3.535l.354.354m-.354-.354c-.4.401-.935.565-1.389.471m-2.5-4.36l.354.354m0 0c.331-.332.753-.5 1.146-.497'/%3E%3Ccircle cx='8.607' cy='8.879' r='2' transform='rotate(-45 8.607 8.879)'/%3E%3C/g%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}

/* Removing and adding items */
#see-price,
#buy-product {
    transition: opacity 5s ease, transform 3s ease 5s;
}

#see-price.remove_product_button,
#buy-product.remove_product_button {
    opacity: 0 !important;
    transform: scale(0) translateY(-20px) !important;
}

#product-image {
    transition: opacity 4s ease, transform 10s ease;
}

#product-image.remove_product_img {
    opacity: 0 !important;
    transform: translateY(20px) !important;
}

/* Qualities - Product */

.hero {
    display: flex;
}

.qualities {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 40px 40px 0 0;
    align-items: center;
    justify-content: center;
}

.quality {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .hero {
        flex-direction: column;
    }

    .qualities {
        padding: 40px 80px;
        flex-direction: row;
    }
}

@media screen and (max-width: 576px) {
    .qualities {
        padding: 40px;
        padding-top: 0;
    }
}

@media screen and (max-width: 480px) {
    .qualities {
        flex-direction: column;
    }
}

.quality-icon {
    display: inline-block;
    padding: 20px;
    border-radius: 50%;
    background-color: var(--bf-icon-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    width: fit-content;
}

.quality-icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.delivery-icon {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath fill='%23000' d='M7.506 15.265a.75.75 0 0 0 1.446-.4zm-1.43-7.99l.724-.2zM4.705 5.92l-.2.723zM3.2 4.725a.75.75 0 1 0-.402 1.445zm16.988 11a.75.75 0 1 0-.378-1.451zm-9.991 1.834c.31 1.12-.37 2.303-1.574 2.616L9 21.626c1.977-.513 3.185-2.502 2.643-4.467zm-1.574 2.616c-1.212.315-2.428-.389-2.74-1.519l-1.446.4c.54 1.955 2.594 3.082 4.563 2.57zm-2.74-1.519c-.31-1.12.37-2.303 1.574-2.616l-.377-1.45c-1.977.513-3.186 2.502-2.643 4.467zm1.574-2.616c1.212-.315 2.428.389 2.74 1.519l1.446-.4c-.54-1.955-2.594-3.082-4.563-2.57zm1.494-1.175L6.8 7.075l-1.446.4l2.152 7.79zM4.904 5.197l-1.703-.472l-.402 1.445l1.704.473zM6.8 7.075a2.707 2.707 0 0 0-1.896-1.878l-.4 1.446c.425.118.742.44.85.831zm4.31 11.01l9.079-2.36l-.378-1.451l-9.079 2.36z'/%3E%3Cpath stroke='%23000' stroke-width='1.5' d='M9.565 8.73c-.485-1.755-.727-2.633-.315-3.324c.411-.692 1.316-.927 3.126-1.398l1.92-.498c1.81-.47 2.715-.706 3.428-.307c.713.4.956 1.277 1.44 3.033l.515 1.862c.485 1.755.728 2.633.316 3.325c-.412.691-1.317.927-3.127 1.397l-1.92.499c-1.81.47-2.715.705-3.428.306c-.713-.4-.955-1.277-1.44-3.032z' opacity='0.5'/%3E%3C/g%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    width: 2rem;
    height: 2rem;
}

.verify-icon {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000'%3E%3Cpath d='M14.049 5.54a1 1 0 0 1 1.071.443l.994 1.587a1 1 0 0 0 .316.316l1.587.994a1 1 0 0 1 .444 1.072l-.42 1.824a1 1 0 0 0 0 .448l.42 1.825a1 1 0 0 1-.444 1.07l-1.587.995a.993.993 0 0 0-.316.316l-.994 1.587a1 1 0 0 1-1.071.444l-1.825-.42a1 1 0 0 0-.447 0l-1.825.42a1 1 0 0 1-1.071-.444l-.994-1.587a1.001 1.001 0 0 0-.317-.316l-1.586-.994a1 1 0 0 1-.444-1.071l.419-1.825a1 1 0 0 0 0-.448l-.42-1.824a1 1 0 0 1 .445-1.072l1.586-.994a1 1 0 0 0 .317-.316l.994-1.587a1 1 0 0 1 1.07-.443l1.826.419a1 1 0 0 0 .447 0z'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m9.515 12.536l2.035 1.949l2.935-4.97'/%3E%3C/g%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    width: 2rem;
    height: 2rem;
}

.delivery-return-icon {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M15.527 15.977h3.24c1.278-.021 3.233.652 3.233 3.08C22 21.577 19.588 22 18.766 22H7.946C5.438 22 2 21.491 2 17.17V8.002h20v4.517m-6.473 3.457a.8.8 0 0 1 .273-.58l1.702-1.42m-1.975 2a.8.8 0 0 0 .275.623l1.7 1.383M2.006 7.991l.921-2.3c.748-1.789 1.122-2.683 1.88-3.186S6.537 2 8.48 2h7.02c1.944 0 2.916 0 3.674.504c.758.503 1.131 1.397 1.88 3.185L22 7.995m-10.037.006v-6m-2 10h4' color='%23000'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    width: 2rem;
    height: 2rem;
}

/* Prices */
.pricing,
.slider,
.message {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}

.section-header {
    font-size: 42px;
    line-height: 1.2;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: var(--logo-color-4);
}

.pricing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.price-card {
    background-color: var(--white);
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.price-card:hover {
    transform: scale(1.05);
}

.price-header {
    background-color: var(--bg-hover);
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    position: relative;
}

.price-header h2 {
    font-size: 24px;
    color: var(--logo-color-4);
    text-transform: uppercase;
    margin: 0;
}

.price-header .info {
    font-size: 11.7px;
}

.price-tag {
    display: block;
    font-size: 40px;
    font-weight: 300;
    color: var(--black);
    margin-top: 10px;
}

.discount {
    display: block;
    font-size: 24px;
    color: var(--c94161);
    margin-top: 10px;
}

.info {
    display: block;
    font-size: 18px;
    color: var(--logo-color-4);
    margin-top: 5px;
}

.feature-list {
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    list-style: none;
}

.feature-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.feature-list li {
    font-size: 16px;
    padding: 10px 0;
    color: var(--boulder);
    border-bottom: 1px solid #e4e4e4;
}

.feature-list li:last-child {
    border-bottom: none;
}

.price-action {
    text-align: center;
    margin: 20px 0 30px;
}

.price-action button {
    background-color: var(--bg-button);
    color: var(--white);
    padding: 12px 30px;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.price-action button:hover {
    background-color: var(--button-hover);
}

@media (max-width: 320px) {
    .price-card {
        width: 100%;
    }
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 100%;
    max-width: 480px;
    gap: 8px;
    overflow: hidden;
    margin-top: 40px;
}

.slider-inner {
    display: flex;
    transition: transform 400ms ease-out;
    width: 100%;
    height: 100%;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.video-title {
    margin: 20px 0;
    font-size: 16px;
    font-style: italic;
    color: var(--boulder);
}

video {
    width: 100%;
    display: block;
    max-height: 620px;
}

.slider-utils {
    display: flex;
    flex-direction: row;
    margin: 16px;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.left-slide,
.right-slide {
    background-color: var(--button-hover);
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    z-index: 2;
    border-radius: 6px;
    max-height: calc(1.25rem + 12px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev-slide-icon {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='m4 10l9 9l1.4-1.5L7 10l7.4-7.5L13 1z'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    width: 1.25rem;
    height: 1.25rem;
}

.next-slide-icon {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M7 1L5.6 2.5L13 10l-7.4 7.5L7 19l9-9z'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    width: 1.25rem;
    height: 1.25rem;
}

.nav-title {
    display: none;
}

@media (max-width: 600px) {

    .left-slide,
    .right-slide {
        padding: 10px;
    }

    .prev-slide-icon,
    .next-slide-icon {
        width: 1rem;
        height: 1rem;
    }
}

@media (max-width: 320px) {
    .slider-utils {
        flex-direction: column;
        gap: 0;
    }

    .left-slide,
    .right-slide {
        width: 100%;
    }

    .nav-title {
        display: block;
        text-transform: uppercase;
    }
}

/* Message */

.message {
    margin-top: 0;
}

.contacts-container {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

.link {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bf-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram-link .css-icon,
.whatsapp-link .css-icon,
.cellphone-link .css-icon {
    font-size: 24px;
    color: var(--black);
}

.arroba {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: var(--boulder);
}

.our-mission {
    font-size: 16px;
    color: var(--boulder);
    margin: 0 20px;
    max-width: 876px;
}

.message-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.message-container textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    resize: none;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: var(--boulder);
    border: 1px solid var(--boulder);
    border-bottom: 1px solid var(--boulder);
}

.message-container button {
    width: calc(50% - 10px);
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--bg-button);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.message-container button:hover {
    background-color: var(--button-hover);
}

@media (max-width: 480px) {
    .message-container button {
        width: 100%;
    }
}

.instagram-icon {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}

.whatsapp-icon {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19.05 4.91A9.816 9.816 0 0 0 12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01m-7.01 15.24c-1.48 0-2.93-.4-4.2-1.15l-.3-.18l-3.12.82l.83-3.04l-.2-.31a8.264 8.264 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24c2.2 0 4.27.86 5.82 2.42a8.183 8.183 0 0 1 2.41 5.83c.02 4.54-3.68 8.23-8.22 8.23m4.52-6.16c-.25-.12-1.47-.72-1.69-.81c-.23-.08-.39-.12-.56.12c-.17.25-.64.81-.78.97c-.14.17-.29.19-.54.06c-.25-.12-1.05-.39-1.99-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.14-.25-.02-.38.11-.51c.11-.11.25-.29.37-.43s.17-.25.25-.41c.08-.17.04-.31-.02-.43s-.56-1.34-.76-1.84c-.2-.48-.41-.42-.56-.43h-.48c-.17 0-.43.06-.66.31c-.22.25-.86.85-.86 2.07c0 1.22.89 2.4 1.01 2.56c.12.17 1.75 2.67 4.23 3.74c.59.26 1.05.41 1.41.52c.59.19 1.13.16 1.56.1c.48-.07 1.47-.6 1.67-1.18c.21-.58.21-1.07.14-1.18s-.22-.16-.47-.28'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}

.cellphone-icon {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M10.91 2.75h3a11.67 11.67 0 0 1-3.8 7.46a11.71 11.71 0 0 1-7.88 3h-.77V10.4L4 9.52l.84 1.42l.59 1.06l1.07-.62a14.36 14.36 0 0 0 4.77-4.5L12 5.73l-1.22-.64l-1-.52l1.09-1.82m0-1.25a1.26 1.26 0 0 0-1.07.61L8.75 3.93a1.24 1.24 0 0 0 .49 1.75l1 .52a13.06 13.06 0 0 1-4.36 4.1L5 8.89a1.25 1.25 0 0 0-1-.62a1.22 1.22 0 0 0-.41.07L1 9.22a1.25 1.25 0 0 0-.79 1.18v2.85a1.25 1.25 0 0 0 1.25 1.25h.75A13 13 0 0 0 15.14 2.88a1.26 1.26 0 0 0-1.25-1.38z'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}

/* Footer */
footer {
    padding: 20px;
    margin-top: 40px;
    text-align: center;
}

footer .slogan {
    margin: 0;
    color: #333;
    font-size: 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

footer .hire-me {
    border-radius: 0 30px 30px 0;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #666;
    font-weight: 400;
    font-size: 13px;
    text-shadow: none;
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    flex: 1;
    margin-top: 10px;
}

footer .hire-me a {
    color: #007bff;
    text-decoration: none;
}

footer .hire-me a:hover {
    text-decoration: underline;
}